# Data & preprocessing
pandas
numpy

# Model
torch
transformers
scikit-learn==1.8.0

# OCR / image processing
mss
easyocr
pytesseract
opencv-python==4.13.0.92

# Visualization & analysis
matplotlib
scipy==1.17.1

# Notebook support
jupyter
ipykernel
